{{>layout/header}}

    <h1>EBS 클라우드 POC</h1>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>           
            </div>
        </div>
        <br>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-borderd">
            <thead class="thead-strong">
                <tr>
                    <th>게시글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                </tr>
            </thead>
            <tbody id="tbody">
                {{#posts}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                        <td>{{author}}</td>
                    </tr>
                {{/posts}}
            </tbody>
        </table>
    </div>
    
{{>layout/footer}}